@charset "UTF-8";

@font-face {
    font-family: 'Bright';
    src: url(../fonts/Bright\ DEMO.otf);
}

html, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 5px;
}
header {
    max-width: 1200px;
    margin: auto;
    background-color: cadetblue;
    color: black;
    font-size: 4vh;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0px 0px 5px #333;
}
header p {
    color: aliceblue;
    margin-top: -50px;
    font-size: 3vh;
}
nav {
    max-width: 1200px;
    height: 50px;
    margin: auto;
    background-image: linear-gradient(#333, cadetblue);
    color: aliceblue;
    border: 2px solid black;
    box-shadow: 0px 0px 5px #333;
    display: flexbox; 
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
nav ul li a {
    text-decoration: none;
    margin: 10px;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a:hover {
    color: cadetblue;
    text-shadow: 1px 1px 5px rgba(245, 245, 245, 0.200);
}
header h1 {
    font-family: 'Bright';
    font-style: italic;
    font-size: 8vh;
    text-shadow: 0px 0px 5px honeydew;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 5px;
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border: 2px solid black;
    box-shadow: 0px 0px 5px #333;
}
article {
    text-align: center;
    color: aliceblue;
    padding: 20px;
    margin: 20px;
    width: 200px;
    max-height: 450px;
    overflow-y: auto;
    background-color: #333;
    border: 2px solid black;
    box-shadow: 0px 0px 5px #333;
    position: relative;
}
article h2 {
    background-color: cadetblue;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px black;
    font-family: 'Bright';
    top: 20px;
    position: sticky;
}
article#article01 {
    flex-grow: 4;
}
article#article01 p {
    background-color: aliceblue;
    padding: 5px;
    color: black;
    text-align: justify;
    text-indent: 20px;
    line-height: 25px;
}
article#article02 {
    flex-grow: 4;
}
article#article02 p {
    background-color: aliceblue;
    padding: 5px;
    color: black;
    text-align: justify;
    text-indent: 20px;
    line-height: 25px;
}
article#article03 {
    flex-grow: 4;
}
article#article03 p {
    background-color: aliceblue;
    padding: 5px;
    color: black;
    text-align: justify;
    text-indent: 20px;
    line-height: 25px;
}
article#article04 {
    flex-grow: 4;
}
article#article04 p {
    background-color: aliceblue;
    padding: 5px;
    color: black;
    text-align: justify;
    text-indent: 20px;
    line-height: 25px;
}
footer {
    max-width: 1200px;
    margin: auto;
    background-color: cadetblue;
    color: black;
    font-family: 'Bright';
    font-size: 3vh;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0px 0px 5px #333;
    text-shadow: 0px 0px 5px honeydew;
}

