@charset "UTF-8";
/*--- FONTS --*/

@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue-Regular.otf);
}
@font-face {
    font-family: 'LinLibertine';
    src: url(../fonts/LinLibertine_aBL.ttf);
}
:root {
    --font--BebasNeue: 'BebasNeue', sans-serif;
    --font--LinLibertine: 'LinLibertine', 'cursive', serif;
}
* {
    margin: 0px;
    padding: 0px;
}
abbr {
    text-decoration: none;
}
strong {
    font-weight: bold;
    color: #DB504A;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 5px;
}
header {
    max-width: 1200px;
    margin: auto;
    background-image: linear-gradient(to top, #13315C, #0b2545);
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.452);
}
header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
nav {
    max-width: 1200px;
    margin: auto;
    background-color: #DB504A;
    border: 1px solid #0b2545;
}
nav ul {
    padding: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
}
nav a.nav {
    background-color: #0b2545;
    border-radius: 20px;
    text-decoration: none;
    margin: 5px;
    padding: 8px;
    color: #EEF4ED;
    font-family: var(--font--BebasNeue);
    font-size: 3vh;
}
nav a.nav:hover {
    background-color: #0087C2;
}
nav img {
    display: inline-flex;
}
nav img#facebook {
    margin-left: 5%;
}
main article#article-principal {
    max-width: 1200px;
    height: 490px;
    margin: auto;
    background-image: url(../imagens/estrada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--font--LinLibertine);
    position: relative;
    border: 2px solid #0b2545;
}
main article#article-principal > p{
    background-color: #0b2545ce;
    color: aliceblue;
    max-width: 700px;
    height: 400px;
    margin: auto;
    overflow-y: auto;
    font-size: 1.2em;
    text-align: center;
    text-indent: 30px;
    line-height: 30px;
    padding: 10px;
}
main article#article-principal > h1 {
    text-align: center;
    background-color: #0b2545;
    color: #DB504A;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 3.5vh;
    top: -1px;
    position: sticky;
    border: 2px solid #0b2545;
}
main article#article-principal  a {
    text-decoration: none;
    color: #EEF4ED;
}
main article#article-principal  a:hover {
    text-decoration: underline;
}
main div.imagens {
    border-radius: 0px 0px 0px 0px;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.473);
    max-width: 1204px;
    margin: auto;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1px;
    background-color: #0088c256;
}
main div.imagens img {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 350px;
    height: 200px;
}
main article.fotos {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #13315C;
    border: 2px solid #c0c6ce98;
}
main article.fotos h2 {
    padding: 10px;
    color: #0087C2;
    font-family: var(--font--BebasNeue);
    font-size: 3vh;
    text-align: center;
}
aside {
    max-width: 1200px;
    margin: auto;
    border: 2px solid #0b2545;
    background-color: #0b2545;
    padding-top: 40px;
}
div.video {
    background-color: white;
    padding: 20px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 38%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
div.video > iframe {
    position: absolute;
    top: 1.5px;
    left: 4px;
    width: 99%;
    height: 99%;
}
footer {
    max-width: 1163px;
    margin: auto;
    background-color: #DB504A;
    padding: 20px;
    border: 3px solid #c0c6ce;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    color: #EEF4ED;
    font-family: var(--font--LinLibertine);
    font-size: 3vh;
    box-shadow: inset 0px 0px 10px #0b2545;
}
footer a {
    text-decoration: none;
    color: #13315C;
    font-family: var(--font--BebasNeue);
}
footer a:hover {
    color: aliceblue;
}


